<div class="flex justify-content-between align-items-center flex-wrap">
  @for(product of products; track $index) {
  <div
    [ngClass]="{ 'col-6': isSmall, 'col-12 md:col-4 lg:col-3': !isSmall }"
    class="col-6"
  >
    <div
      [ngClass]="{
        'flex flex-wrap lg:flex-nowrap justify-content-center gap-2': isSmall
      }"
      class=""
    >
      <figure
        [routerLink]="['/cart', product._id]"
        routerLinkActive="router-link-active"
        [ngClass]="{ ' lg:w-9rem md:w-6rem': isSmall }"
        class="m-1 shadow-2 border-round-2xl overflow-hidden cursor-pointer"
      >
        <img
          #image
          [ngClass]="{ 'h-full': isSmall, 'h-20rem': !isSmall }"
          class="w-full"
          [src]="product.image"
          (error)="
            image.src =
              'https://images.unsplash.com/photo-1575936123452-b67c3203c357?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D'
          "
          [alt]="product.title"
        />
      </figure>
      <div class="content py-1 w-full">
        <p class="truncate-text overflow-hidden font-meduim text-xs my-1">
          {{ product.title }}
        </p>
        <div class="flex align-items-center gap-2">
          <div class="price flex gap-2 align-items-center">
            <span class="text-color-secondary font-bold">
              <del>14</del>
            </span>
            <span class="new-price font-bold">
              <span class="text-green-400">$</span> {{ product.price }}
            </span>
          </div>
          <div class="offer">
            <span class="bg-red-500 p-1 border-circle text-white text-xs"
              >% {{ product.discount }}</span
            >
            <span class="font-bold text-xs font-bold px-1">off</span>
          </div>
        </div>
      </div>
      @if(!isSmall) { @if (!product.isAddedToCart) {
      <p-button
        (click)="addToCart(product._id); product.isAddedToCart = true"
        label="Add to cart"
        severity="warning"
        styleClass="my-2 uppercase w-full"
        icon="pi pi-cart-plus text-2xl"
        iconPos="right"
      />
      } @if(product.isAddedToCart) {
      <p-button
        [routerLink]="['/cart']"
        label="Go To cart"
        severity="contrast"
        styleClass="my-2 uppercase w-full"
        icon="pi pi-shopping-cart text-2xl"
        iconPos="right"
      />
      } }
    </div>
  </div>
  }@empty { @if(!isSmall) {
  <div class="flex-1 text-center">
    <app-empty></app-empty>
    <h5 class="capitalize">
      No product to show for <span class="danger">{{ searchKey }}</span>
    </h5>
    <p-button
      [routerLink]="['/home']"
      label="Back to home"
      severity="warning"
      styleClass="my-2 uppercase"
      icon="pi pi-home text-2xl"
      iconPos="right"
    />
  </div>
  }}
</div>
