<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <figure class="my-0 mx-2">
        <img
          class="w-2rem"
          src="https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr"
          alt="Logo"
        />
      </figure>
    </ng-template>
    <ng-template pTemplate="end">
      @for (item of items; track $index) {
      <a
      routerLinkActive="surface-100"
        [routerLink]="item?.['path']"
        pRipple
        class="p-menuitem-link p-link inline-flex justify-content-center align-items-center hover:surface-100 transition-all transition-duration-200 p-2 text-black-alpha-70 mx-1"
      >
        <span [class]="item?.['icon']"></span>
        <span class="ml-2">{{ item?.['label'] }}</span>
      </a>
      }
    </ng-template>
  </p-menubar>
</div>
