span.p-badge {
  background-color: #fa8e42;
}
.user-name {
  background-color: #fa8e42;
  border-radius: 10px;
}
.user-name::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  border-top: 15px solid #fa8e42;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.logout {
  bottom: 0;
  transform: translate(-50%, calc(100% + 17px));
  background-color: #fa8e42;
  border-radius: 10px;
}
